.mainbody {
    margin: 0px;
    margin-top: -25px;
    background-color: lightgray;
}

.top {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color:  rgb(209, 236, 236);
    border-bottom: 3px solid white;
}

.toph2 {
    font-family: 'Merriweather', sans-serif;
}

.middle {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 2px;
    background-color: rgb(241, 241, 241);
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.bottom {
    text-align: center; 
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: gray;
    border-top: 3px solid black;

}

.myskills {
    margin-top: 0px;
    font-family: 'Mingzat', sans-serif;
    color: rgb(17, 71, 122);
    font-size: 26px;
}

.listheader {
    font-family: 'Gulzar', sans-serif; 
    color:rgb(41, 120, 194);
    font-size: 18px;
}

.minorhr {
    border: 1px solid rgb(184, 184, 184);
}

hr {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dotted rgb(184, 184, 184);
}

a {
    color: cornflowerblue;
    text-decoration: none;    
}

.computer {
    position: absolute;
    top: 150px;
    left: 175px;
    height: 200px;
}

.arch {
    position: absolute;
    top: 150px;
    right: 200px;
    height: 200px;
}

.me {
    border: 3px solid black;
    border-radius: 10px;
}

.getintouch {
    padding: 10px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
}

.colcontainer {
    display: inline-block;
}

.leftcol {
    float: left;
    text-align: right;
    margin-right: 10px;
}

.rightcol {
    float: right;
    text-align: left;
}

a:hover {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.contactheader {
    color:rgb(17, 71, 122);
}

.contactp {
    color:rgb(41, 120, 194);
}